.preview-item-with-text-only-text-blocks .text {
  color: var(--preview-page-text-color);
  display: inline;
}

.preview-item-with-text-only-text-blocks .text.heading {
  font-weight: 500;
}

.other-info .preview-item-with-text-only-text-blocks .text.heading::after {
  content: ": ";
  white-space: pre;
}

.skills .preview-item-with-text-only-text-blocks,
.languages .preview-item-with-text-only-text-blocks {
  line-height: var(--preview-about-me-fontsize);
}

.languages .preview-item-with-text-only-text-blocks .text:not(.heading)::before,
.skills .preview-item-with-text-only-text-blocks .text:not(.heading)::before {
  content: " - ";
  white-space: pre;
}

.skills .preview-item-with-text-only-text-blocks .text,
.languages .preview-item-with-text-only-text-blocks .text {
  font-size: var(--preview-about-me-fontsize);
}

.skills .preview-item-with-text-only-text-blocks .text.heading,
.languages .preview-item-with-text-only-text-blocks .text.heading {
  font-weight: 600;
  color: var(--preview-page-accent-color);
  font-family: var(--preview-page-accent-font);
  font-size: var(--preview-accent-fontsize);
  margin-top: calc(
    -1 * (var(--preview-accent-fontsize) - var(--preview-about-me-fontsize)) - 1px
  );
}
