.preview-panel-with-list {
  --preview-page-gap-t: max(
    var(--preview-page-gap),
    var(--preview-page-section-items-gap),
    var(--preview-page-section-list-gap)
  );
  display: flex;
  flex-direction: column;
  padding: var(--preview-page-gap-t) var(--preview-page-lr-padding) 0;
}

.preview-personal-info-panel + .preview-panel-with-list {
  padding-top: 0 !important;
}

.preview-panel-with-list h3 {
  border-bottom: 2px solid var(--preview-page-text-color);
  color: var(--preview-page-headings-color);
  font-family: var(--preview-page-headings-font);
  font-size: var(--preview-page-headings-fontsize);
  font-weight: bold;
}
