.preview-page {
  background-color: var(--preview-page-bg-col);
  box-shadow: var(--box-shadow);
  height: 100%;

  aspect-ratio: var(--preview-page-ar);
  overflow: hidden auto;

  container-type: inline-size;
  container-name: preview-page;

  color: var(--preview-main-text-color);
}

.preview-page:last-child {
  padding-bottom: var(--preview-page-padding);
}
