.preview-list-with-text-only {
  padding-top: var(--preview-page-section-items-gap);
  display: flex;
  flex-direction: column;
  gap: var(--preview-page-item-list-item-padding-top);
}

.preview-item-with-dates .preview-list-with-text-only {
  list-style: disc;
  padding: 0;
  padding-left: var(--preview-page-item-list-padding-left);
}
