header {
  background-color: var(--header-bg-col);
  padding: var(--page-padding);
  box-shadow: var(--box-shadow);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: var(--h1-fontsize);
  font-family: var(--h1-font);
  font-weight: bold;
  color: var(--h1-color);
  flex: 1;
}

header .group-of-btns {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

header .functionality-btn {
  --button-col: var(--header-btn-col);
  --button-bg-col: var(--header-btn-bg-col);
  --button-opacity: var(--round-btn-opacity);
  --button-padding: var(--round-btn-padding);
  --button-radius: 50%;
  --button-size: var(--round-btn-size);
}
header .dark-theme-btn {
  --button-col-hover: var(--dark-theme-btn-hightlight-col);
  --button-bg-col-hover: var(--dark-theme-btn-hightlight-bg-col);
  --button-shadow-hover: 0 0px var(--box-shadow-blur) var(--box-shadow-spread)
    var(--dark-theme-btn-hightlight-box-shadow-col) inset;
}
