main {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}

main .preview-panel {
  flex: 1;
}

/* Modify layout when base layout has overflow */

main.has-overflow-y .edit-panel,
main.has-overflow-y .preview-panel {
  min-width: 100vw;
}

main.has-overflow-y .edit-panel {
  padding-right: var(--editor-padding-ud);
}

/* tablet or larger, or landscape (vs portrait), 641px (phone), 961px (tablet) */
@media only screen and (min-width: 768px) {
  main.has-overflow-y .edit-section-panel {
    max-width: 80vw;
  }
}

main.has-overflow-y .preview-page {
  /* note: this assumes .preview-page has no siblings */
  --var: calc((100vw - 2 * var(--preview-padding-lr)) / var(--preview-page-ar));
  max-height: var(--var);
}

main .group-of-btns {
  position: fixed;
  /* left: 0; */
  right: 0;
  bottom: 0;
  /* width: 100dvw; */
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: var(--page-padding-ud);
  gap: 0.5em;
}

main.has-overflow-y .group-of-btns {
  padding-bottom: calc(var(--page-padding-ud) + 4px); /* incude scrollbar size*/
}

main .functionality-btn {
  color: var(--round-btn-color);
  background-color: var(--round-btn-bg-color);
  opacity: var(--round-btn-opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--round-btn-padding);
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
}
main .functionality-btn span,
main .functionality-btn svg {
  width: var(--round-btn-size);
  height: var(--round-btn-size);
}

/* when hover is supported */
@media not all and (hover: none) {
  main .functionality-btn:hover {
    opacity: 1 !important;
    box-shadow: var(--box-shadow);
  }
  main .functionality-btn:hover span {
    transform: scale(1.1);
  }
}

main .functionality-btn:active {
  opacity: 1 !important;
  box-shadow: var(--box-shadow);
}
main .functionality-btn:active span {
  transform: scale(1);
}

main .functionality-btn:focus {
  outline: none;
}

main .functionality-btn:focus-visible {
  outline: 2px solid var(--round-btn-color);
}

/* some functionality buttons are shown only on hover */

main .functionality-btn.normally-hidden {
  transform: scale(0.7);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s;
}

main .group-of-btns:hover .functionality-btn.normally-hidden {
  visibility: visible;
  opacity: var(--round-btn-opacity);
}

main .group-of-btns:hover .functionality-btn.normally-hidden {
  visibility: visible;
  opacity: var(--round-btn-opacity);
}
