.edit-list-selection-buttons {
  display: flex;
  align-items: center;
  gap: calc(2 * var(--editor-section-button-item-gap));
  width: 100%;
  min-width: 0;
}

.edit-list-selection-buttons:not(form .edit-list-selection-buttons) {
  max-height: 30%;
}

.edit-list-selection-items-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--editor-section-button-item-gap);
  flex: 1;

  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  padding: var(--max-shadow-outline-size);
}

.edit-list-selection-items-buttons p {
  width: 100%;
  text-align: left;
  padding: var(--editor-section-button-item-padding);
  font-style: italic;
  line-height: 1;
  color: var(--col-txt-secondary);
}

.edit-list-selection-new-item-button {
  align-self: flex-start;

  background-color: var(--edit-section-highlight-color-secondary);
  color: var(--col-txt-alt);

  aspect-ratio: 1;
  min-height: 0;
  border-radius: 50%;
  border: none !important;

  padding: var(--editor-section-button-new-item-padding);
}

.edit-list-selection-new-item-button .icon,
.edit-list-selection-new-item-button svg {
  height: var(--editor-section-button-icon-larger-size);
  width: var(--editor-section-button-icon-larger-size);
}

.edit-list-selection-item-button {
  background-color: var(--editor-section-button-color);

  padding: var(--editor-section-button-item-padding);
  line-height: 1;
  min-width: var(--editor-section-button-item-min-width);

  border: none !important;

  /* https://stackoverflow.com/questions/7993067/text-overflow-ellipsis-not-working */
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: min(100%, 15em);
  display: block;
  overflow: hidden;
}

/* when hover is supported */
@media not all and (hover: none) {
  .edit-list-selection-new-item-button:hover {
    background-color: var(--edit-section-highlight-color);
    /* outline: var(--button-small-outline-size) solid
      var(--edit-section-highlight-color); */
  }

  .edit-list-selection-item-button:hover {
    background-color: var(--editor-section-button-color-secondary);
    color: var(--edit-section-highlight-color-secondary);
    /* outline: var(--button-small-outline-size) solid
      var(--edit-section-highlight-color); */
  }

  .edit-list-selection-new-item-button:hover,
  .edit-list-selection-item-button:hover {
    /* outline: var(--button-small-outline-size) solid
      var(--edit-section-highlight-color); */
    box-shadow: var(--box-shadow);
  }

  .edit-list-selection-new-item-button:hover svg {
    transform: scale(1.1);
  }
}

.edit-list-selection-new-item-button:active,
.edit-list-selection-item-button:active {
  box-shadow: var(--box-shadow);
}

.edit-list-selection-new-item-button:active svg {
  transform: scale(1);
}

.edit-list-selection-new-item-button:focus,
.edit-list-selection-new-item-button:focus-visible {
  background-color: var(--edit-section-highlight-color);
  /* outline: var(--button-small-outline-size) solid */
  /* var(--edit-section-highlight-color); */
  outline: none;
}

.edit-list-selection-item-button:focus,
.edit-panel .edit-panel-button:focus-visible {
  background-color: var(--editor-section-button-color-secondary);
  color: var(--edit-section-highlight-color-secondary);
  /* outline: var(--button-small-outline-size) solid */
  /* var(--edit-section-highlight-color); */
  outline: none;
}

.edit-list-selection-new-item-button.current {
  background-color: var(--edit-section-highlight-color-secondary);
  outline: none;
  opacity: var(--disabled-button-opacity);
  pointer-events: none;
}

.edit-list-selection-item-button.current {
  background-color: var(--edit-section-highlight-color);
  color: var(--col-txt-alt);

  /* see: https://www.sitepoint.com/quick-tip-fixing-font-weight-problem-hover-states/ */
  /* font-weight: bold; */
  text-shadow: 0 0 0.9px var(--col-txt-alt), 0 0 0.9px var(--col-txt-alt),
    0 0 0.9px var(--col-txt-alt);

  /* outline: var(--button-large-outline-size) solid
    var(--edit-section-highlight-color); */
  pointer-events: none;
  /* outline: none; */
}
