.edit-section-panel {
  background-color: var(--editor-section-bg-col);
  padding: var(--editor-section-padding);
  border-radius: 0 var(--editor-form-gap) var(--editor-form-gap) 0;
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  gap: var(--editor-section-gap);

  --editor-section-buttons-height: calc(
    2 * var(--editor-section-button-padding-tb) +
      var(--editor-section-button-icon-size)
  );
  max-height: calc(100% - var(--editor-section-buttons-height));
  flex: 1;
  overflow: hidden;
}

.edit-section-panel h3 {
  font-size: var(--h3-fontsize);
  font-family: var(--h3-font);
  color: var(--edit-section-highlight-color);
  font-weight: bold;
  text-align: right;
}

.edit-section-panel > div {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.edit-section-panel form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--editor-form-gap);

  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--editor-form-gap);
  border-top: 2px solid var(--editor-bg-col);
  border-bottom: 2px solid var(--editor-bg-col);
}
